@import url(global.css);

main{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
}

.titulo{
    margin-top: 10px;

    padding-inline: 10px;

    font-size: 2rem;
    font-weight: 900;

    background-color: #1c2030;
    color: white;
}

main > span{
    margin-bottom: 20px;
}

.container{
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 40px;
    padding: 25px;

    color: white;

    border: 3px solid #332f5e;
    border-radius: 10px;
}

.notificacoes{
    width: 60vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
    padding: 10px;

    background-color: #2e286d;
    border-radius: 5px;

    font-size: 1.2rem;
    font-weight: 600;
}

.circle-box{
    display: flex;
    align-items: center;
    gap: 10px;
}

.circle{
    width: 25px;
    height: 25px;

    border-radius: 900%;
}

.card{
    width: 60vw;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    background-color: #151720;

    color: rgba(255, 255, 255, 0.55);
}

@media (max-width: 768px){
    .notificacoes,
    .card{
        width: 80vw;
    }

    .circle{
        width: 20px;
        height: 20px;
    }

    .container{
        padding: 15px;
    }

    .card{
        flex: 1;
    }
}
